@page
@model RealEstateWibsite.Pages.AboutModel
<!-- about section starts  -->
<section class="about">
    <div class="imag">
        <img src="~/images/about.jpg" alt="" />
    </div>
    <div class="conten">
        <h3>why choose us?</h3>
        <p>
            At ASAS website, we are here to make real estate transactions easier
            and more accessible with rapidly advancing digital technologies.
            Our goal is to enable users to search for and manage properties in a secure,
            fast, and efficient digital environment.
            By prioritizing innovation and customer satisfaction in the real estate world,
            we strive to support you every step of the way.
        </p>
        <a href="/Contact/Create" class="btn">contact us</a>
    </div>
</section>

<!-- about section ends -->
