@page
@model ForgotPasswordConfirmation


<section class="form-container">
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<center style="color:whitesmoke">
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
    </center>
</section>