@page
@model ForgotPasswordModel

<section class="form-container">
    <h1>
        <center style="color:whitesmoke">
            Reset your Password
        </center>
    </h1>
    <br>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <!-- Bind form fields to InputModel properties -->
        <input type="email" asp-for="Input.Email" placeholder="enter your email" class="box">
        <!-- Submit Button -->
        <button type="submit" value="Reset Password" class="btn">Reset Password</button>>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
